<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project"
        tools:targetApi="31">
        <activity
            android:name=".SettingDeleteEntryActivity"
            android:exported="false" />
        <activity
            android:name=".SummaryMonthlyReportActivity"
            android:exported="false" />
        <activity
            android:name=".SettingManageCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".SummaryYearlyReportActivity"
            android:exported="false" />
        <activity
            android:name=".SummaryDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".PlanningActivity"
            android:exported="false" />
        <activity
            android:name=".SavingsGoalsActivity"
            android:exported="false" />
        <activity
            android:name=".AddGoalActivity"
            android:exported="false" />
        <activity
            android:name=".EditGoalActivity"
            android:exported="false" />
        <activity
            android:name=".ExpenseLimitsActivity"
            android:exported="false" />
        <activity
            android:name=".AddLimitActivity"
            android:exported="false" />
        <activity
            android:name=".EditLimitActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".GoalAlarmReceiver" />
        <receiver android:name=".LimitAlarmReceiver" />
    </application>

</manifest>